# Compiled files and executables
/target/
debug/

# backup files from rustfmt
**/*.rs.bk

#Antigravity stuff
.antigravitycli/

# Generated markdown files that aren't part of the project.
*.md
!docs/**/*.md
!/README.md
!/CONTRIBUTING.md
!/WARP.md
!/review.md
!plugins/**/*.md

# debugging information from rustc on MSVC Windows
*.pdb
/.idea/
